Repository capstone-bangkeith/validin-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier -w

feat: add response validation in kode wilayah route :rocket:
  package.json
  src/routes/kode-wilayah.ts
  yarn.lock
Due: eslint --max-warnings=0, prettier -w

feat: add swagger docs :rocket:
  package.json
  src/app.ts
  src/config/config.ts
  src/config/prismaClient.ts
  src/config/swagger.ts
  src/index.ts
  src/routes/index.ts
  src/routes/kode-wilayah.ts
  src/routes/kodeWilayah.route.ts
  src/schema/error.schema.ts
  src/schema/kodeWilayah.schema.ts
  yarn.lock
Due: eslint --max-warnings=0, prettier -w

feat: pagination :rocket:
  package.json
  src/config/swagger.ts
  src/routes/index.ts
  src/routes/kodeWilayah.route.ts
  src/schema/kodeWilayah.schema.ts
Due: eslint --max-warnings=0, prettier -w

feat: docker configs :rocket:
  Dockerfile
  docker-compose.prod.yml
  docker-compose.yml
Due: prettier -w

feat: dotenv config :rocket:
  .env.example
  package.json
  src/config/config.ts
  yarn.lock
Due: eslint --max-warnings=0, prettier -w

docs: add readme :rocket:
  README.md
Due: prettier -w

docs: add license
  LICENSE
Due: none

feat: add pm2 :rocket:
  package.json
  src/schema/ktp.schema.ts
  yarn.lock
Due: eslint --max-warnings=0, prettier -w

feat: add pm2 :rocket:
  ecosystem.config.json
Due: prettier -w

feat: disable swagger on production:rocket:
  src/config/swagger.ts
Due: eslint --max-warnings=0, prettier -w

feat: use pm2 inside docker :rocket:
  docker-compose.prod.yml
Due: prettier -w

feat: change new docker command syntax :rocket:
  package.json
Due: prettier -w

feat: use postgres instead of sqlite :rocket:
  .env.example
  README.md
  package.json
  prisma/kodewilayah.db
  prisma/schema.prisma
  swagger.pdf
Due: prettier -w

fix: postgres runtime error :rocket:
  .nvmrc
  package.json
  prisma/schema.prisma
  src/config/cloudStorage.ts
  src/config/prismaClient.ts
  src/routes/kodeWilayah.route.ts
  yarn.lock
Due: eslint --max-warnings=0, prettier -w

docs: update readme
  README.md
Due: prettier -w

feat: ktp model probably fixed ey o :rocket:
  prisma/schema.prisma
Due: none

feat: prisma logging :rocket:
  src/app.ts
  src/config/prismaClient.ts
Due: eslint --max-warnings=0, prettier -w

feat: cloud storage init :rocket:
  .env.example
  .gitignore
  environment.d.ts
  src/config/cloudStorage.ts
  src/config/config.ts
  src/index.ts
  src/schema/ktp.schema.ts
Due: eslint --max-warnings=0, prettier -w

feat: add redis caching :rocket:
  .env.example
  .lintstagedrc.json
  README.md
  environment.d.ts
  package.json
  src/app.ts
  src/config/config.ts
  src/routes/kodeWilayah.route.ts
  src/schema/kodeWilayah.schema.ts
  yarn.lock
Due: eslint --max-warnings=0, prettier -w

feat: ktp route bruh :rocket:
  package.json
  src/app.ts
  src/routes/index.ts
  src/routes/kodeWilayah.route.ts
  src/routes/ktp.route.ts
  src/schema/ktp.schema.ts
  yarn.lock
Due: eslint --max-warnings=0, prettier -w

feat: docker vibin :rocket:
  .env.example
  Dockerfile
  environment.d.ts
  src/config/cloudStorage.ts
  src/config/config.ts
Due: eslint --max-warnings=0, prettier -w

feat: ktp upload to cloud storage :rocket:
  package.json
  src/app.ts
  src/routes/ktp.route.ts
  src/schema/ktp.schema.ts
  yarn.lock
Due: eslint --max-warnings=0, prettier -w

feat: docker redis :rocket:
  Dockerfile
  docker-compose.yml
Due: prettier -w

feat: docker redis :rocket:
  docker-compose.yml
Due: prettier -w

feat: docker nginx :rocket:
  docker-compose.yml
  nginx/Dockerfile
  nginx/nginx.conf
Due: prettier -w

feat: docker nginx :rocket:
  .env.example
  environment.d.ts
  src/config/config.ts
  src/index.ts
Due: eslint --max-warnings=0, prettier -w

feat: docker nginx :rocket:
  docker-compose.yml
Due: prettier -w

feat: docker nginx :rocket:
  docker-compose.prod.yml
Due: prettier -w

feat: docker ngentot :rocket:
  docker-compose.yml
Due: prettier -w

feat: docker ngentot :rocket:
  Dockerfile
  docker-compose.yml
  package.json
  src/config/config.ts
Due: eslint --max-warnings=0, prettier -w

feat: best docker config frfr no cap :rocket:
  .dockerignore
  Dockerfile
  docker-compose.prod.yml
  docker-compose.yml
  nginx/Dockerfile
  package.json
Due: prettier -w

docs: update readme :rocket:
  README.md
Due: prettier -w

ci: workflows node 16 :rocket:
  .github/dependabot.yml
  .github/workflows/lint.yml
Due: prettier -w

chore: yarn dedupe :rocket:
  package.json
  yarn.lock
Due: prettier -w

feat: db migrate db seed aye yo :rocket:
  environment.d.ts
  package.json
  prisma/kodewilayah.csv
  prisma/migrations/20220531121220_init/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  prisma/seed.ts
Due: prettier -w

fix: type error :rocket:
  tsconfig.json
Due: prettier -w

fix: tsconfig :rocket:
  prisma/tsconfig.json
Due: prettier -w

Path conditions:
  eslint --max-warnings=0: any of: src/**/*.{js,jsx,ts,tsx}
  prettier -w: ((any of: src/**/*.{js,jsx,ts,tsx}) or (any of: src/**/*.{css,scss,mdx})) or (any of: ./**/*.{md,json,yml,yaml,html})
