Repository capstone-bangkeith/validin-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier -w

.lintstagedrc.json:

{
  "src/**/*.{js,jsx,ts,tsx}": ["eslint --max-warnings=0", "prettier -w"],
  "src/**/*.{css,scss,mdx}": ["prettier -w"],
  "./**/*.{md,json,yml,yaml,html}": ["prettier -w"]
}

feat: cloud run script yo :rocket:
  scripts/pull.sh
Due: none

feat: scripts execute permission :rocket:
  scripts/pull.sh
Due: none

feat: tsconfig fix for seed.tsa :rocket:
  .eslintignore
  package.json
  prisma/seed.ts
  prisma/tsconfig.json
Due: prettier -w

feat: validate nik kode wilayah :rocket:
  prisma/migrations/20220607154947_init/migration.sql
  prisma/migrations/20220607155949_init/migration.sql
  prisma/schema.prisma
  src/routes/ktp.route.ts
Due: eslint --max-warnings=0, prettier -w

feat: tempat tanggal lahir :rocket:
  .env.example
  environment.d.ts
  prisma/schema.prisma
  src/config/config.ts
  src/routes/ktp.route.ts
  src/schema/ktp.schema.ts
Due: eslint --max-warnings=0, prettier -w

feat: firebase config 2 :rocket:
  .env.example
  .gitignore
  package.json
  src/config/firebaseAdmin.ts
  yarn.lock
Due: eslint --max-warnings=0, prettier -w

feat: migrate to fastify v4 :rocket:
  src/app.ts
  src/index.ts
  src/routes/ktp.route.ts
  src/schema/ktp.schema.ts
Due: eslint --max-warnings=0, prettier -w

feat: tesseract js :rocket:
  .gitignore
  .vscode/launch.json
  .vscode/settings.json
  package.json
  src/config/tesseract.ts
  src/routes/ktp.route.ts
  src/schema/ktp.schema.ts
  yarn.lock
Due: eslint --max-warnings=0, prettier -w

feat: spellcheck utility :rocket:
  package.json
  src/config/natural.ts
  src/routes/ktp.route.ts
  yarn.lock
Due: eslint --max-warnings=0, prettier -w

feat: ocr saatnya menggatot :rocket:
  src/app.ts
  src/config/firebaseAdmin.ts
  src/config/natural.ts
  src/routes/ktp.route.ts
  src/schema/ktp.schema.ts
Due: eslint --max-warnings=0, prettier -w

feat: ocr + ktp saatnya menggatot :rocket:
  .gitignore
  prisma/migrations/20220612025403_init/migration.sql
  prisma/migrations/20220612031902_init/migration.sql
  prisma/schema.prisma
  src/config/cloudStorage.ts
  src/routes/ktp.route.ts
  src/schema/ktp.schema.ts
  tsconfig.json
Due: eslint --max-warnings=0, prettier -w

feat: docker saatnya menggatot :rocket:
  Dockerfile
Due: none

feat: docker saatnya menggatot :rocket:
  yarn.lock
Due: none

feat: ocr saatnya menggatot :rocket:
  src/routes/ktp.route.ts
Due: eslint --max-warnings=0, prettier -w

feat: index route saatnya menggatot :rocket:
  src/app.ts
  src/routes/ktp.route.ts
Due: eslint --max-warnings=0, prettier -w

feat: python saatnya menggatot :rocket:
  docker-compose.yml
  nginx/nginx.conf
  py/.editorconfig
  py/.gitignore
  py/.pre-commit-config.yaml
  py/Dockerfile
  py/README.md
  py/__init__.py
  py/config.py
  py/kodewilayah.csv
  py/kodewilayah.db
  py/main.py
  py/requirements.txt
  py/routes/detection.py
  py/routes/ocr.py
  py/routes/recognition.py
  py/schemas.py
  py/vision.py
Due: prettier -w

feat: python saatnya menggatot :rocket:
  py/Dockerfile
Due: none

feat: python saatnya menggatot :rocket:
  docker-compose.yml
Due: prettier -w

feat: python saatnya menggatot :rocket:
  py/main.py
  py/routes/detection.py
  py/routes/ocr.py
  py/routes/recognition.py
Due: none

feat: python saatnya menggatot :rocket:
  py/requirements.txt
Due: none

feat: cloud vision saatnya menggatot :rocket:
  package.json
  src/config/cloudVision.ts
  src/routes/ktp.route.ts
  yarn.lock
Due: eslint --max-warnings=0, prettier -w

feat: nginx saatnya menggatot :rocket:
  nginx/nginx.conf
Due: none

feat: crud saatnya menggatot :rocket:
  prisma/migrations/20220613105938_init/migration.sql
  prisma/schema.prisma
  src/routes/ktp.route.ts
  src/schema/ktp.schema.ts
Due: eslint --max-warnings=0, prettier -w

feat: kota provinsi saatnya menggatot :rocket:
  prisma/migrations/20220614072328_init/migration.sql
  prisma/schema.prisma
  src/routes/ktp.route.ts
  src/schema/ktp.schema.ts
Due: eslint --max-warnings=0, prettier -w

fix: unhandled error saatnya menggatot :rocket:
  src/routes/ktp.route.ts
Due: eslint --max-warnings=0, prettier -w

feat: test route saatnya menggatot :rocket:
  src/routes/ktp.route.ts
Due: eslint --max-warnings=0, prettier -w

feat: normalized coordinate saatnya menggatot :rocket:
  src/routes/ktp.route.ts
  src/utils/normalizeCoord.ts
Due: eslint --max-warnings=0, prettier -w

feat: merge multi line column saatnya menggatot :rocket:
  src/routes/ktp.route.ts
Due: eslint --max-warnings=0, prettier -w

feat: more aggresive matching saatnya menggatot :rocket:
  src/routes/ktp.route.ts
Due: eslint --max-warnings=0, prettier -w

feat: cloud vision buffer saatnya menggatot :rocket:
  src/config/cloudVision.ts
  src/routes/ktp.route.ts
Due: eslint --max-warnings=0, prettier -w

feat: rotate query saatnya menggatot :rocket:
  src/routes/ktp.route.ts
  src/schema/ktp.schema.ts
Due: eslint --max-warnings=0, prettier -w
